html, body {
    height: 100%;
    margin: 0;
}

#root {
    height: 100%;
    background: #1b1b1f;
    overflow: hidden;
}

.app {
    height: 100%;
    overflow-x: hidden;
}

/*.container {*/
/*    margin-top: 200px;*/
/*}*/